<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>
<add key="IS2Client.is2address.Service1" value="https://wwwis2.fukutsu.co.jp/is2/is2address/Service1.asmx"/>
<add key="IS2Client.is2goirai.Service1" value="https://wwwis2.fukutsu.co.jp/is2/is2goirai/Service1.asmx"/>
<add key="IS2Client.is2hinagata.Service1" value="https://wwwis2.fukutsu.co.jp/is2/is2hinagata/Service1.asmx"/>
<add key="IS2Client.is2init.Service1" value="https://wwwis2.fukutsu.co.jp/is2/is2init/Service1.asmx"/>
<add key="IS2Client.is2kiji.Service1" value="https://wwwis2.fukutsu.co.jp/is2/is2kiji/Service1.asmx"/>
<add key="IS2Client.is2otodoke.Service1" value="https://wwwis2.fukutsu.co.jp/is2/is2otodoke/Service1.asmx"/>
<add key="IS2Client.is2print.Service1" value="https://wwwis2.fukutsu.co.jp/is2/is2print/Service1.asmx"/>
<add key="IS2Client.is2syukka.Service1" value="https://wwwis2.fukutsu.co.jp/is2/is2syukka/Service1.asmx"/>
<add key="IS2Client.is2seikyuu.Service1" value="https://wwwis2.fukutsu.co.jp/is2/is2seikyuu/Service1.asmx"/>
<add key="IS2Client.is2oshirase.Service1" value="https://wwwis2.fukutsu.co.jp/is2/is2oshirase/Service1.asmx"/>
<add key="HelpURL" value="https://wwwis2.fukutsu.co.jp/is2/manual/is2manual.pdf"/>
</appSettings>
</configuration>
